.signin{
    margin-top: 80px;
    display: flex;
    height: 400px;
    width: 500px;
 color:white;
 flex-direction: column;
 background-color: #586BA9;
 border-radius: 9px;
 border: 2px solid black;
 padding: 30px;
 gap:1rem;
}